@model IEnumerable<HABsMap.Models.SampleModel>

@{
    ViewBag.Title = "HABs Shellfish Samples";

}




<div class="container page-container">
    <div class="row">
        <div class="col-md-12">

            <!--Error message if sample search unsuccessful-->
            @ViewBag.ErrorMessage
            <!--If areaname parameter is passed to the controller, display heading with the area name, else display search all samples-->
            @if (ViewBag.AreaName != null)
            {
                <h2 class="hidden-print">Search Sample Results For @ViewBag.AreaName</h2>
            }

            else
            {
                <h2 class="hidden-print">Search All Samples</h2>
            }

            <div class="table-responsive">

                <!-- Breadcrumbs of current search -->
                <ul class="breadcrumb search-breadcrumb">
                    <li><span class="your-query">Your Search Query:</span></li>
                    <li><span class="crumb">Location Name:</span> @ViewBag.AreaName</li>
                    <li><span class="crumb">Sample Species:</span> @ViewBag.Species</li>
                    <li><span class="crumb">Date From:</span> @ViewBag.Date</li>
                    <li><span class="crumb">Date To:</span> @ViewBag.DateTo</li>
                    <li><btn class="btn btn-xs btn-marine" onclick="window.print(); return false;">Print Results</btn></li>
                </ul>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Species)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tissue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ASP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PSP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AZP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DSP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PTX)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YTX)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Frequency)
                        </th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Species)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tissue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ASP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AZP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PTX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YTX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Frequency) Days
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

