<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Leaflet.JS CSS-->
    <link href="~/Content/leaflet.css" rel="stylesheet" />


    <!--JQuery CSS-->
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-marine  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Map", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Map")</li>
                    <li>@Html.ActionLink("Area Status List View", "ListView", "Status")</li>
                    <li>@Html.ActionLink("Search Samples", "Search", "Sample")</li>
                    <li>@Html.ActionLink("Disclaimer", "Disclaimer", "Info")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now - Marine HABs Map</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!--JQuery UI for Datepicker-->
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <!--LeafletJS minified script-->
    <script src="~/Scripts/leaflet-0.7.3.min.js"></script>
    <script src="~/Scripts/map-init.js"></script>

    <!--Function to call the JSON method and add markers to the map needs to be on this page in order to work
    The JSON returned is handled in Scripts/harvesting-areas.js -->

    <script type="text/javascript">
    //When document is finished parsing
    $(document).ready(function () {
        //Prevent JSON data from caching
        $.ajaxSetup({ cache: false });
        //The method in the Status Controller which provides the JSON
        var actionUrl = '@Url.Action("GetMapMarkers", "Status")';
        //Instruction to get the JSON from the resouce
       $.getJSON(actionUrl, displayData);
    });


        //When document is finished parsing
        $(document).ready(function () {
            //Prevent JSON data from caching
            $.ajaxSetup({ cache: false });
            //The method in the Status Controller which provides the JSON
            var actionUrl = '@Url.Action("GetAnyMarkers", "Status")';
            //Instruction to get the JSON from the resouce
            $.getJSON(actionUrl, displayData);
        });


    </script>

    <!-- DatePicker -->
    <script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({ dateFormat: "mm/dd/yy" });
    })
    </script>


    <script src="~/Scripts/harvesting-areas.js"></script>

</body>
</html>
