@model HABsMap.Models.habs_alert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>habs_alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habs_area.location_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habs_area.location_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
